{include file="common/head"/}

<div style="position: relative;top: -10px;">
  {//include file="common/ad"/}
</div>

<div id="content">

  <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad" :offset="1">
    <div class="index_content">
      <van-row gutter="1">
        <van-col span="8" v-for="(item,index) in list" key="index">
          <div class="img" :style="'background-image: url('+(item.thumb)+') , url('+item.thumb+');'"
            @click="navTo('{:url('Goods/show')}?id='+item.id)"></div>
          <div class="title">￥{{item.price}}</div>
        </van-col>
      </van-row>
    </div>


  </van-list>



</div>
<script>



  var appIndex = new Vue({
    el: '#content',
    data: function data() {
      return {
        tableData: { list: [] },
        list: [],
        loading: false,
        finished: false,
        pageTotal: 0,
        filter: { page: 1, limit: 18, type_id: 2 },
        bannerInfo: [],
        info: { list: [] },
        images: [],

      };
    },
    created: function () {
      let _this = this
      // if (window.sessionStorage.list_ul2 != 'undefined') {
      //   var top = parseInt(sessionStorage.getItem("top3"));
      //   top = top ? top : 0;
      //   var product_ul = JSON.parse(sessionStorage.getItem("list_ul3"));
      //   var page = parseInt(sessionStorage.getItem("page3"));
      //   var url = sessionStorage.getItem("url3");
      //   //判断返回后的页面和上一次的页面地址是否一致
      //   if (product_ul != null && url == window.location.href) {
      //     _this.list = product_ul;;
      //     document.body.scrollTop = top + parseInt($(window).height());
      //     _this.filter.page = Number(page);
      //   }
      // } else {
        console.log(111)
        this.setData()
      // }
    },

    methods: {
      setData() {
        var _this = this

        axios({
          method: 'post',
          url: '',
          data: {},
        }).then(function (resp) {
          _this.info = resp.data.data
          _this.bannerInfo = JSON.parse(resp.data.data.banner)

          for (var i = 0; i < _this.sortBannerInfo.length; i++) {
            _this.images.push(_this.sortBannerInfo[i].thumb)
          }







        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });

      },
      viewPic(index) {
        // this.picIndex = index;
        // this.show = true

        let _this = this
        vant.ImagePreview({
          images: _this.images,
          startPosition: index,
          onClose() {
            // do something
          }
        });
      },
      indexList() {
        var _this = this

        axios({
          method: 'post',
          url: '{:url("indexList")}',
          data: _this.filter,
        }).then(function (resp) {
          _this.loading = false;
          _this.list = _this.list.concat(resp.data.data);
          _this.pageTotal = resp.data.count
          _this.filter.page++
          if (_this.list.length >= _this.pageTotal) {
            _this.finished = true;
          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      onLoad() {
        this.page++;
        this.indexList();
      },
      navTo: function (url) {
        let _this = this
        sessionStorage.clear()
        sessionStorage.setItem("list_ul3", `${JSON.stringify(_this.list)}`);
        sessionStorage.setItem("top3", `${window.pageYOffset}`);
        sessionStorage.setItem("page3", `${_this.filter.page}`);
        sessionStorage.setItem("url3", window.location.href);
        setTimeout(() => {
          window.location.href = url
        }, 200)
      },
      sortByKey: function (array, key) { //(数组、排序的列)
        return array.sort(function (a, b) {
          var x = a[key];
          var y = b[key];
          return ((x < y) ? 1 : ((x > y) ? -1 : 0));
        })
      },

    },
    mounted() {


    },
    computed: {
      sortBannerInfo: function () {
        return this.sortByKey(this.bannerInfo, 'order_num');
      }
    },

  });
</script>
{include file="common/footer"/}